
body {
	margin: 100;
	border: 300;
	background: #FFFFCC;
<!--	background: #332225; -->
	color: #33FF33;
	text-align: center;
}

p.basic {
	color: #33FF33;
	background: #3322FF;
	line-height: 50%;
	word-spacing: 10px;
}
table {
	width:100%;
}

ul {
	text-align: left;
}




